<% provide(:title, 'Kontakti') %>
<h1>Na kontaktoni</h1>
<p>
  Per ceshtjet e ndryshme qe kane te bejne me intranetin mund te na kontaktoni ne <a href="http://intraneti/#contact"<>faqen per kontakt</a>
</p>