<div class="center jumbotron">
  <h1>Mirë se vini në Intranet</h1>
  
  <h2>
    Intraneti eshte sistem i zhvilluar nga departamenti i Teknologjise se Informacionit me qellim te centralizimit te shenimeve ne korporate.
  </h2>
  
  <%= link_to "Regjistrohu", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("dcologo.png", alt: "DCO Logo"), 'http://intraneti' %>