<% provide(:title, "Fatura") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="pending_info">
        <%= render 'shared/pending_info' %>
      </section>
      <section class="perkujtimet_info">
        <%= render 'shared/perkujtimet' %>
      </section>
    </aside>
    <div class="container col-md-8">
      <div class="center jumbotron">
        <div class="well">
          <h1>Fatura</h1>
        </div>
      </div>
      <table data-toggle="table" class="table table-bordered col-md-12">
        <thead>
          <tr>
            <th class="col-sm-1">Id</th>
            <th class="col-sm-1">Nr kerkeses</th>
            <th class="col-sm-2">Data</th>
            <th class="col-sm-2">Furnitori</th>
            <th class="col-sm-1">Nr fatures</th>
          </tr>
        </thead>
          <tbody class="pranimet-index">
            <%= render "pranimet" %>
          </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h3>Kycuni, ju lutem!</h3>  
<% end %> 
<h1>Show</h1>