<%= form_for(@leave) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :arsyetimi, placeholder: "Shto arsyetimin" %>
  </div>
  <%= f.submit "Regjistro", class: "btn btn-primary" %>
<% end %>
