<h4>Detyrat</h4>
<p style="font-size:0.9em"><%= link_to "Kamerat te Hangari Terminal PR", root_path %></p>
<p style="font-size:0.9em"><%= link_to "Serveri per intranet", root_path %></p>
<p style="font-size:0.9em"><%= link_to "Programi i prokurimit", root_path %></p>
<p style="font-size:0.9em"><%= link_to "Finabiti ne USB", root_path %></p>