<h4>Perkujtimet</h4>
<p style="font-size:0.9em">25/10/2014 - <%= link_to "Raportin javore" , '#' %></p>
<p style="font-size:0.9em">25/10/2014 - <%= link_to "Raportin mujore", '#' %></p>
<p style="font-size:0.9em">25/10/2014 - <%= link_to "Me mbush naft", '#' %></p>
