<footer class="footer">
  <small>
    <a href="http://intranet">Intraneti</a> është zhvilluar nga departamenti i Teknologjisë dhe Informacionit
  </small>
  <nav>
    <ul>
      <li><%= link_to "Rreth Intranetit", about_path %></li>
      <li><%= link_to "Kontakto IT-në", contact_path %></li>
    </ul>
  </nav>
</footer>